OPENAI_API_KEY=YOUR_OPENAI_API_KEY
PINECONE_API_KEY=YOUR_PINECONE_API_KEY
PINECONE_HOST=https://unimig-products-u8b6qbq.svc.aped-4627-b74a.pinecone.io
PINECONE_NAMESPACE_DEFAULT=

EMBED_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-4.1-mini

ADMIN_SECRET_KEY=CHANGE_THIS_TO_A_STRONG_RANDOM_SECRET
PROMPTS_FILE=prompts.json
CONVERSATIONS_DB=conversations.db

SUPABASE_URL=
SUPABASE_KEY=
